﻿@using Bank.Common.Enum
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-3 col-md-3 col-lg-4">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @Html.ActionLink("Check account balance", "Index", "Account", htmlAttributes: new { @class = "category", categoryId = "4" })
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @Html.ActionLink("Request a deposit", "CreateRequest", "Account", new { requestType = (int)AccountRequestType.Deposit }, htmlAttributes: new { @class = "category", categoryId = "4" })
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @Html.ActionLink("Request a withdrawal", "CreateRequest", "Account", new { requestType = (int)AccountRequestType.Withdrawal }, htmlAttributes: new { @class = "category", categoryId = "4" })
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8 col-md-9 col-lg-8" id="main_content">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/core")