﻿@Html.Hidden("resolve-url", Url.Content("~"))
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Electronix Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @{
        var isLoggedIn = Session["Username"] != null;
    }
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Login", "Home", null, htmlAttributes: new { @class = "navbar-brand", id = "menuHomeBtn" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (isLoggedIn)
                        {
                            <li>@Html.ActionLink(@Session["Username"].ToString(), "Index", "Account")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Home", null, htmlAttributes: new { id = "menuLoginBtn" })</li>
                            <li>@Html.ActionLink("Register", "Register", "Home", null, htmlAttributes: new { id = "menuRegisterBtn" })</li>
                        }
                    }
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="container">
        <div class="container content-page">
            @RenderBody()
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="messagePopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @{ var message = ViewBag.Message != null ? ViewBag.Message.ToString() : string.Empty; }
                <input hidden="hidden" value="@message" id="hasMessage" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myPopupLabel">Information</h4>
                </div>
                <div class="modal-body" id="popup-content">
                    @message
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2019</p>
    </div>
    <script type="text/javascript" src="@Url.Content("/Scripts/pages/RentService.MasterPage.js")"></script>
    @{
        Html.EnableClientValidation();
    }
</body>
</html>