﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.content-page {
    min-height: max-content;
    max-width: unset;
}*/

.copyright {
    padding: 5px 0px;
    margin: auto;
    text-align: center;
}
.field-validation-error {
    color: red;
}
table, td, th {
    border: 1px solid black;
}
table {
    width: 100%;
}
th, td {
    padding: 5px;
}
.account-overview tr td:first-child {
    background-color: aqua;
}