﻿@model Bank.Web.Models.RegisterViewModel
<div>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>

            <!-- Form Name -->
            <legend>Register</legend>
            <!-- Text input-->
            <div class="form-group">
                @Html.LabelFor(x => x.Fullname, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Fullname, htmlAttributes: new { @class = "form-control input-md", placeholder = "Fullname", required = "required" })
                    @Html.ValidationMessageFor(x => x.Fullname)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Username, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Username, htmlAttributes: new { @class = "form-control input-md", placeholder = "Username", required = "required" })
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control input-md", required = "required" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-6">
                    <button id="registerBtn" name="registerBtn" class="btn btn-success">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>