﻿@using Bank.Common.Enum
@model Bank.Web.Models.RequestViewModel
@{
    ViewBag.Title = "RequestDetail";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div>
    @using (Html.BeginForm("CreateRequest", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.RequestType)
        @Html.HiddenFor(x => x.RequestStatus)
        <fieldset>
            <legend>@(Model.RequestType == AccountRequestType.Deposit ? "Create a deposit" : "Create a Withdrawal")</legend>
            <div class="form-group">
                @Html.LabelFor(x => x.Amount, htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.Amount, htmlAttributes: new { type = "currency", step = "any", @class = "form-control input-md", required = "required" })
                    @Html.ValidationMessageFor(x => x.Amount)
                </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-6">
                    <button id="createBtn" name="save" class="btn btn-success">Create</button>
                </div>
            </div>
        </fieldset>
    }
</div>