﻿@model Bank.Web.Models.AccountInfoViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div>
    <fieldset>
        <legend>Account Overview</legend>
        <table class="account-overview">
            <tr>
                <td class="control-label">Account Name</td>
                <td>@Model.AccountInfo.Fullname</td>
            </tr>
            <tr>
                <td class="control-label">Account Balance</td>
                <td>@Model.AccountInfo.AccountBalance.ToString("C")</td>
            </tr>
        </table>
    </fieldset>
</div>
<div style="margin-top: 20px;">
    <fieldset>
        <legend>Transaction History</legend>
        <table>
            <tr>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>Request Date</th>
            </tr>
            @foreach (var history in Model.History)
            {
                <tr>
                    <td>@history.RequestType.ToString()</td>
                    <td>@history.Amount.ToString("##,###.00")</td>
                    <td>@history.CreateDate.ToLongDateString(), @history.CreateDate.ToLongTimeString()</td>
                </tr>
            }
        </table>
    </fieldset>
</div>